/* Default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  font-family: "Poppins", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.interest{
  font-family: 'Fontin';
}

.rc{
  font-family: 'PT Sans';
}

.staff {
  height: 100vh;
  width: 100%;
  text-align: center;
  background-image: url("../Assets/img/Staffbg.png");
  background-position: 0% 0%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
}